 .h-50{ height: 50px!important;}

 @media screen and (max-width: 700px){
    .menu-position{
        position: relative;
        bottom: 50px;
        left: 430px;
        
    }
 }
 @media screen and (max-width: 600px){
    .menu-position{
        position: relative;
        bottom: 50px;
        left: 390px;
        
    }
    .right-position{
        float: left!important;
        margin-left: 35%;
    }
    .left-position{
        margin-left: 13%;
    }
 }